{{ define "title" }}<title>Sovr Cloud</title>{{ end }}
{{ define "content" }}
<main>
	<div class="message">
		<h1>Hello, {{.User.DisplayName}}</h1>
		<p>Right now there's nothing here. Seeing this means you're authenticated, which is great, but we have more work to do before that helps you at all.</p>
	</div>
</main>
{{ end }}
