{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ template "title" . }}
	<link href="/static/css/styles.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav>
			<div class="nav-links">
				<a href="#">Home</a>
				<a href="#">Documentation</a>
			</div>
			<form action="/logout" method="POST">
				<button type="submit" class="logoff-button">Log Off</button>
			</form>
		</nav>
	</header>
    {{ template "scripts" . }}
    {{ template "sidebar" . }}
    {{ template "content" . }}
	<footer>
		<p>&copy; 2024 Gleipnir. All rights reserved.</p>
	</footer>
</body>
</html>
{{ end }}
// We define empty blocks for optional content so we don't have to define a block in child templates that don't need them
{{ define "scripts" }}{{ end }}
{{ define "sidebar" }}{{ end }}
